<module xmlns="urn:jboss:module:1.0" name="org.eximeebpms.commons.eximeebpms-commons-typed-values">
  <resources>
    <resource-root path="eximeebpms-commons-typed-values-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="java.compiler" />
    <module name="java.desktop" />
    <module name="java.logging"/>
    
    <module name="org.eximeebpms.commons.eximeebpms-commons-utils" />
    
  </dependencies>
</module>
