<module xmlns="urn:jboss:module:1.0" name="org.eximeebpms.bpm.qa.eximeebpms-qa-ensure-clean-db">
  <resources>
    <resource-root path="eximeebpms-qa-ensure-clean-db-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="org.eximeebpms.bpm.eximeebpms-engine" />

  </dependencies>
</module>
